In [1]:
#Importing Required Packages 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
from sklearn import preprocessing,metrics
%matplotlib inline

In [2]:
#Reading and Knowing about the Data
data = pd.read_csv(r'C:\Users\Selva Vignesh M\Desktop\TechnicalAssessment\Technical Assessment\task1-books.csv\books.csv', skipinitialspace = True, error_bad_lines = False, warn_bad_lines = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  float64
 6   language_code       11127 non-null  object
 7   num_pages           11127 non-null  int64
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11127 non-null  object
 11  publisher           11127 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 1.0+ MB

In [3]:
data[['average_rating']] = data[['average_rating']].astype('float')
data[['num_pages']] = data[['num_pages']].astype('int')

In [4]:
numCols = data.select_dtypes("number").columns
catCols = data.select_dtypes("object").columns
numCols= list(set(numCols))
catCols= list(set(catCols))

print('Numerical Columns   :', numCols)
print('Categorical Columns :', catCols)

Numerical Columns   : ['text_reviews_count', 'bookID', 'average_rating', 'ratings_count', 'num_pages', 'isbn13']
Categorical Columns : ['language_code', 'isbn', 'publication_date', 'publisher', 'authors', 'title']

In [5]:
df = pd.DataFrame(data)
label_encoder = preprocessing.LabelEncoder() 
df[['language_code', 'publisher']] = df[['language_code', 'publisher']].apply(label_encoder.fit_transform)

In [6]:
df.describe()

             bookID  average_rating  ...  text_reviews_count     publisher
count  11127.000000    11127.000000  ...        11127.000000  11127.000000
mean   21310.938887        3.933631  ...          541.854498   1184.190258
std    13093.358023        0.352445  ...         2576.176608    679.130910
min        1.000000        0.000000  ...            0.000000      0.000000
25%    10287.000000        3.770000  ...            9.000000    575.500000
50%    20287.000000        3.960000  ...           46.000000   1227.000000
75%    32104.500000        4.135000  ...          237.500000   1788.000000
max    45641.000000        5.000000  ...        94265.000000   2291.000000

[8 rows x 8 columns]

In [7]:
#Interquartile Range (IQR) Values
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

bookID                21817.500
average_rating            0.365
isbn13                    0.000
language_code             0.000
num_pages               224.000
ratings_count          4889.500
text_reviews_count      228.500
publisher              1212.500
dtype: float64

In [8]:
df_after_drop = df.drop(columns = ['isbn13', 'language_code'], axis = 1)

In [9]:
df_after_drop = df_after_drop[~((df_after_drop < (Q1 - 1.5 * IQR)) |(df_after_drop > (Q3 + 1.5 * IQR))).any(axis = 1)]
df_after_drop.shape
df_after_drop.head()

    bookID  ... publisher
2        4  ...      1775
5        9  ...      1368
9       14  ...       470
10      16  ...      1656
13      22  ...       327

[5 rows x 10 columns]

In [10]:
df_final = df_after_drop.copy()